.leftSignal-RightSignal-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Top Signal Css */
.trafficSignalLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 7px 11px #1c2833;
  height: 300px;
  width: 140px;
  background-color: #333;
  border-radius: 40px;
}

/* Right Signal Css */

.trafficSignalRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 7px 11px #1c2833;
  height: 300px;
  width: 140px;
  background-color: #333;
  border-radius: 40px;
}

.bulb {
  height: 70px;
  width: 70px;
  margin-left: 35px;
  background-color: #111;
  border-radius: 50%;
  /* margin: 25px auto; */
}
/* All Signal boxes */
#box {
  width: 100px;
  height: 100px;
  
  /* background-color: red; */
}

/* Bottom Siganl Css */
.trafficSignalBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10px;
  margin-left: 600px;
  height: 300px;
  width: 140px;
  background-color: #333;
  box-shadow: 0px 0px 7px 11px #1c2833;
  border-radius: 40px;
}

/* Top Signal Css */
.trafficSignalTop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 140px;
  margin-top: 70px;
  background-color: #333;
  box-shadow: 0px 0px 7px 11px #1c2833;
  border-radius: 40px;
  margin-left: 600px;
}

.trafficSignalLeft h2 {
  position: absolute;
  top: 280px;
  text-align: center;
}
.trafficSignalBottom h2 {
  position: absolute;
  top: 600px;
}
.trafficSignalRight h2 {
  position: absolute;
  top: 280px;
}
.trafficSignalTop h2 {
  position: absolute;
  top: 0px;
}

.redLight{
  box-shadow: 1px 3px 28px 7px #ff1717
}
.yellowLight{
  box-shadow: 1px 3px 28px 7px #F1C40F
}
.greenLight{
  box-shadow: 1px 3px 28px 7px #80ca79
}