body{
    margin: auto;
}
/* Top Line black */
.Top-Row{
    
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}


/* Bottom Border Green line--------------- */
.Bottom-Top{

    background-color:#7bae23;
    padding: 5px;
}

/* Strip Header Contact  */
.Strip-Header{

    background-color: #777;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.3rem;
    text-align: right;
}

.Strip-Header a{
    color: #000;
    margin-left: 20px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    padding-right: 6px;
    
}


/* Header Section-------------------- */

.Header-Container{
    width: 100%;
    height: auto;
    
    /* background-color: lightgray; */
    /* Adding Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    /* width: 25%; */
    margin: 20px;
    /* padding-bottom: 0%; */
    padding-left: 75px;
    text-align: center;
}
.Search-Block{
    
    padding-left: 40px;
    text-align: center;
    width: 25%;
    margin: 20px;
    
}

.Search-Block input{
    border-color: transparent;
    background-color: lightgray;
    border-radius: 5px;
    height: 40px;
    width: 410px;

}


.Search-Block .btn { 
    position: absolute; 
    top: 0;  
    right: 0px; 
    z-index: 2; 
    border: none; 
    top: 2px; 
    height: 42px;
    cursor: pointer; 
    color: white; 
    background-color: red; 
    transform: translateX(2px);
    margin-top: 137px;
    margin-right: 570px;
    font-family: 'Times New Roman', Times, serif;
    width: 70px;
    font-size: 18px;
} 

.Gif{
    padding-left: 150px;
    /* text-align: center; */
    width: 25%;
    margin: 20px;
    
}

.AddToCart{
    padding-right: 40px;
    text-align: center;
    width: 25%;
}

.fa-shopping-cart{
    position: relative;
    margin-top: 29px;
    margin-right: 1px;
    color: #7bae23;
    padding-right: 50px;
}

.Counter-Number{
    position: absolute;
    margin-left: 87%;
    /* margin-right: 20px;  */
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 47%;
    background-color: orange;
    font-size: 17px;
    color: white;
    z-index: 2;
}
    
/* Nabigation Top Bar --------------- */

.Navigation-Bar{
    background-color: #7bae23;
    padding-left: 0;
    padding-right: 3px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 6%;
    margin-left: 6.5%;
    position: relative;
}

.List-Items ,ul ,li{
    list-style-type: none;
    color: white;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 40px;
}
.List-Items{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#MoreBlock {
    display: none;
}

#more:hover ul#MoreBlock {
    display: block;
    
}

#MoreBlock ul li{
    
    color: black;
}

#more:hover ul#MoreBlock{
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 1px 16px -4px rgba(0, 0, 0, 0.71);
  border-top: 5px solid skyblue;
  position: absolute;
  left: 0;
  top: 37px;
  width: 100%;
  padding: 10px 0px;
}

/* Image slider Css-----------*/

/* image styling */

/* * {box-sizing: border-box;} */

.mySlides {
    display: none;
}
/* img {
    vertical-align: middle;
} */

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
}

.Left-Images{
    
    width: 23%;
    margin-left: 89px;
    padding-right: 0px;
}

.slider{
    
    width: 67%;
    margin-right: 82px;
    /* padding-left: 20px; */
    /* padding-right: 80px; */
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot{
  height: 5px;
  width: 21px;
  margin: 0 2px;
  background-color:gray;
  position: relative;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 1;
}


.active {
  background-color:black;
  position: absolute;
  bottom: 10%;
  margin-left: 30%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}